#wrapper, header {
  background-color: #EDEFF0;
  font-family: "Nunito", sans-serif;
  overflow: auto;
  border-bottom: 2px solid #DFE1E2;
}

header h1 {
  float: left;
}

header {
  box-shadow: 0px 3px 0px #EDEFF0;
  margin: 30px;
}

header img {
  float: right;
}

body {
  background-color: #EDEFF0;
}

.card {
  background-color: white;
  border-radius: 5px;
  width: 500px;
  height: 350px;
  float: left;
  margin: 15px;
  box-shadow: 0px 2px 0px #DFE1E2;
}

button {
  margin-left: 20px;
  margin-right: -20px;
  font-family: "Nunito", sans-serif;
  border-radius: 25px;
  background-color: white;
  box-shadow: none;
  border: 2px solid #EAEDEF;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 15px;
  color: #7B8B8E;
  vertical-align: middle;
}

.star-btn, .play-btn {
  color: #D4D9DD;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-right: 25px;
  padding-left: 14px;
  padding-top: 10px;
  float: right;
}
.star-btn {
  padding-left: 10px;
  margin-right: 20px;
}

#java .star-btn:hover, #javaFX .star-btn:hover {
  color: #2C9676;
  border-color: #2C9676;
}

#java .play-btn:hover, #javaFX .play-btn:hover {
  color: #2C9676;
  border-color: #2C9676;
}

#woo .star-btn:hover, #woo .play-btn:hover {
  color: #838CC7;
  border-color: #838CC7;
}

#django .star-btn:hover, #django .play-btn:hover {
  color: #F092B0;
  border-color: #F092B0;
}

.play-btn {
  margin-right: -15px;
}

.card h4, h2, p{
  padding: 0px 20px;
}

.card h2 {
  color: #4D585A;
}

.card p {
  color: #7C8B8E;
  font-weight: 300;
}

.card h2 {
  margin-top: 2px;
}

.topBar {
  overflow: auto;
  color: white;
  padding: 20px;
  border-radius: 5px 5px 0 0;
  font-size: 12px;
}
h4 {
  color: #7B8B8E;
  margin: 20px 0 0 0;
}
h5, i {
  margin: 0px;
}

h5 {
  float: right;
  font-size: 13px;
  margin-top: 3px;
}

i {
  float: left;
  margin-right: 10px;
}

.fa-book {
  padding-right: 10px;
}
.fa-circle-o {
  margin-top: 6px;
  opacity: .5;
}

.java-btn {
  color: #2C9676;
}

#java, #woo {
  margin-left: 30px;
}

#java .topBar {
  background-color: #2C9676;
}

#django .topBar {
  background-color: #F092B0;
}

#python-btn {
  color: #F092B0;
}

#woo .topBar {
  background-color: #838CC7;
}

#wordpress-btn {
  color: #838CC7;
}

#javaFX .topBar {
  background-color: #2C9676;
}
