// Descriptive Colors
$pink: #F092B0;
$green: #2C9676;
$purple: #838CC7;
$white: white;

// Functional color variables

$background-color: #EDEFF0;
$primary-text-color: #7B8B8E;
$header-bottom-color: #DFE1E2;
$course-title-color: #4D585A;

//Font stacks

$stack-nunito: 'Nunito';
