.card {
  background-color: $white;
  border-radius: 5px;
  width: 500px;
  height: 350px;
  float: left;
  margin: 15px;
  box-shadow: 0px 2px 0px $header-bottom-color;
  h4 {
   @extend %cardPadding;
 }

  h2 {
   color: $course-title-color;
   @extend %cardPadding;
 }

  p {
   color: $primary-text-color;
   font-weight: 300;
   @extend %cardPadding;
 }
}


.java .topBar {
  background-color: $green;
}

#django .topBar {
  background-color: $pink;
}


#woo .topBar {
  background-color: $purple;
}

.topBar {
  @include text(12px, $color: $white);
  overflow: auto;
  padding: 20px;
  border-radius: 5px 5px 0 0;
}
