#wrapper, header {
  background-color: $background-color;
  font-family: #{$stack-nunito}, sans-serif;
  overflow: auto;
  border-bottom: 2px solid $header-bottom-color;
}

header {
  box-shadow: 0px 3px 0px $background-color;
  margin: 30px;
  h1 {
    float: left;
  }
  img {
    float: right;
  }
}
