#wrapper, header {
  background-color: #EDEFF0;
  font-family: "Nunito", sans-serif;
  overflow: auto;
  border-bottom: 2px solid #DFE1E2;
}

header {
  box-shadow: 0px 3px 0px #EDEFF0;
  margin: 30px;
  h1 {
    float: left;
  }
  img {
    float: right;
  }
}
